<!DOCTYPE html>
<html>
  <head>
    <title>Nickygreed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<nav>
  		<ul>
  			<li>Nicky Greed</li>
  			<li>Music</li>
  			<li>Bio</li>
  			<li>Contact</li>
  		</ul>
  	</nav>

    <%= yield %>

    <footer>
    	&copy; Kelvin Pankow
    </footer>
    
  </body>
</html>
